 /* Styling for headings */
 h1 {
    color: #336699; /* Dark blue color for the main heading */
}
h2 {
    color: #008000; /* Green color for subheadings */
}

/* Styling for labels and text inputs */
label {
    color: #333; /* Dark gray color for labels */
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    border: 1px solid #ccc; /* Gray border for text inputs */
    padding: 5px;
    margin: 5px 0;
}

/* Styling for buttons */
button {
    background-color: #336699; /* Dark blue background for buttons */
    color: #fff; /* White text color for buttons */
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

/* Styling for list items */
ul li {
    color: #000000; /* Purple color for list items */
}


body{
    margin:0;
    padding: -15px;
    border-style: solid;
}

.bg-container{

    padding: 0;
    margin-top: -25px;
    background-color: #fff;
    height: 100%;
    width:100%;
    background-image: linear-gradient(60deg, #ff6595, #60bef8, #d88cff, rgb(213, 106, 106),#ffc75f);
    background-size: 600% 600%;
    animation: bgAnimatedGradient 15s infinite linear;
}

@keyframes bgAnimatedGradient{
    0%{
        background-position: 0 85%;
    }

    50%{
        background-position: 100% 20%;
    }
    100%{
        background-position: 0% 85%;
    }
}
.section-title {
    border-bottom: 2px solid rgb(55, 97, 153);
    padding: 10px;
    margin: 10px 0;
}


        .section-box {
            border-bottom: 2px solid rgb(12, 116, 26);
            padding: 10px;
            margin: 10px 0;
        }
    

